<!--
  Generated template for the QuotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Quotes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let item of quotesisi"> 
    <ion-card-header> 
      {{ item.id }} 
    </ion-card-header> 
    <ion-card-content> 
      {{ item.text }} 
      <h3 style="color:grey" text-right text-uppercase> -{{ item.person }} </h3>
    </ion-card-content> 
    <ion-grid>
      <ion-row no-padding>
        <ion-col text-right>
          <button ion-button clear small icon-start (click)="onShowAlert(item)" *ngIf= "!isFavorite(item)">
            <h3 style="color:orange">Favorite</h3>
          </button>
          <button ion-button clear small icon-start (click)="onShowUnfavoriteAlert(item)" *ngIf= "isFavorite(item)">
            <h3 style="color:#F73A01">Unfavorite</h3>
          </button>

        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
</ion-content>
