<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content padding>

  <ion-tabs >

    <ion-tab [root]='eventPage' tabTitle='Search' tabIcon='search'></ion-tab>
    <ion-tab [root]='historyPage' tabTitle='Game' tabIcon='basketball'></ion-tab>
    <ion-tab [root]='promoPage' tabTitle='Promo' tabIcon='megaphone'></ion-tab>
    <ion-tab [root]='profilePage' tabTitle='Profile' tabIcon='person'></ion-tab>
  </ion-tabs>
</ion-content>
