<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>
          <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > 
      </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form margin>
        <ion-label>Change Profile</ion-label>
        <ion-input  type="text" placeholder="First Name"></ion-input>
        <ion-input  type="text" placeholder="Last Name"></ion-input>
        <ion-input  type="text" placeholder="Phone Number"></ion-input>
       
            
        <button ion-button large type="submit" block [navPush]="registerFieldSecondPage">Confirm</button>
    </form>

</ion-content>
