<!--
  Generated template for the EventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title>
        <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > 
    </ion-title>
  </ion-navbar>
  <!-- <ion-toolbar no-border-top>
    <ion-searchbar placeholder="Filter Items" (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar> -->

</ion-header>



<ion-content padding>
    <ion-fab bottom right (click)="addEvent()">
      <button ion-fab>
          <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
    <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    >
  </ion-searchbar>
    <ion-card *ngFor="let boorooms of booroomCollection; let last = last">
       
    <ion-card (click)="openAlertJoin(boorooms.privacy, boorooms.id, boorooms.password)">
        
        <ion-item>
          <ion-avatar item-start>
            <img src="{{boorooms.avatar_path}}">
          </ion-avatar>
          <span>{{boorooms.booroom_name}}</span>
          <ion-icon *ngIf="isPrivate(boorooms.privacy)" style="float: right;" name="lock"></ion-icon>
          <p>{{boorooms.tanggal_main}}</p>
          <p>{{boorooms.start_hour}}<span> - </span>{{boorooms.end_hour}}</p>
          <p>{{boorooms.jumlah_member}}/{{boorooms.jumlah_orang}}</p>
          <p>IDR {{boorooms.current_price}}</p>
          <p class="item-icon-right"><i class="icon ion-edit  icon-accessory" name="lock"></i> </p>
        </ion-item> 
        <ion-row>
          <ion-col  center text-center>
            <button ion-button icon-left clear small>
                <ion-icon name="checkmark"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <!-- <span *ngIf="last">{{ngForLast()}}</span> -->
      </ion-card>
    </ion-card>

</ion-content>
