<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Garuda Futsal Club grup</ion-title>
  </ion-navbar>
  <ion-item no-lines class="header-chat-background">
    <ion-avatar item-start>
      <img src="assets/imgs/avatar1.png">
    </ion-avatar>
    <div>
      <h2 style="font-weight:bold;" >10 participants <span><ion-icon name="arrow-dropright"></ion-icon></span> </h2>
    </div>
    <h2>Court: N/A<span>
      <button (click)="bookCourtPage()" color="light" ion-button >
        Book Now
      </button></span></h2>
    <h2>15 Dec 2017<span> | </span>11:00<span> - </span>14:00</h2>
  </ion-item> 
</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-header>
          Janssen | 1 Dec 2017 | 10.35
        </ion-card-header>
        <ion-card-content>
            Fix ya jadinya hari Sabtu jam 5 sore. Gua booking nih.
        </ion-card-content>
       
      </ion-card>
      <ion-card>
         <ion-card-header>
            Me | 1 Dec 2017 | 12.40
          </ion-card-header>
          <ion-card-content>
              Oke bos.
          </ion-card-content>
      </ion-card>
    <!-- <ion-list no-lines>
      <ion-label text-center>1 Dec 2017</ion-label>
      <ion-item>
        
        <h2 style="font-weight:bold">name</h2>
       <p class="bubble-message">Fix ya jadinya hari Sabtu jam 5 sore. Gua booking nih.</p>
        <h3>10.35</h3>
      </ion-item>
    </ion-list>
    <ion-list>
        <ion-item no-lines>
          <ion-grid>
            <ion-row justify-content-end >
                  <p text-left class="bubble-message-send">Siap bro</p>  
            </ion-row>
            <h3 style="float:right; margin:5px 5px" text-right>10.35</h3>
          </ion-grid>  
                     
           </ion-item>
           
    </ion-list> -->
  </ion-content>
<ion-footer>
  <ion-item>
   <ion-input type="text" placeholder="type here..." [(ngModel)]="newmessage"></ion-input>
   <button ion-button clear item-right (click)="send()">Send</button>
  </ion-item>
 </ion-footer>