page-chat {

    .header-chat-background{
        background-color: #27ae60;
        color: white;
    }
    .bubble-message{
        background-color: #8dc63f;
        border-radius: 20px;
        padding: 10px 20px;
        color: black;
        white-space: normal;
        
    }
    .bubble-message-send{
        border-radius: 20px;
        background-color: #bdc3c7; 
        padding: 10px 20px;
        color: black;
        white-space: normal;
        float: right;
            display: flex;
    }
}
