<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    
      <ion-navbar>
        <ion-title>
            <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > 
        </ion-title>
        
      </ion-navbar>
    
    </ion-header>

<ion-content >
  <div *ngFor="let user of userInfo">
    <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                  {{user.first_name}} {{user.last_name}}
              </ion-col>
              <ion-col>
                  <p text-right (click)="openEditProfilePage()" >EDIT</p>
              </ion-col>
            </ion-row>
            <ion-row>
                <p>{{user.email}}</p>              
            </ion-row>
            <ion-row>
                <p>{{user.phone}}</p>
            </ion-row>
          </ion-grid>
          
        </ion-card-content>
      </ion-card> 
      <ion-card>
          <ion-list >
              <ion-item  text-center no-lines>
                Balance
              </ion-item>
              <ion-item text-center no-lines>
                <h1>IDR {{user.balance}}</h1>
              </ion-item>
              <ion-item text-center no-lines>
                <button small ion-button outline (click)="openModalTopUp()">TopUp Money
                </button>
                <button small ion-button outline (click)="openBoopayHistory()">Boopay History
                </button>
              </ion-item>
             
            </ion-list>
      </ion-card>
      <ion-card>
          <ion-item class="borderbottom" (click)="openChangePasswordPage()">
            <button clear  ion-button>Change Password</button>
          </ion-item>
          <ion-item class="borderbottom" (click)="openTermsOfService()">
            <button clear  ion-button>Terms of Service</button>
          </ion-item>
          <ion-item class="borderbottom" (click)="openPrivacyPolicy()">
            <button clear ion-button>Privacy Policy</button>
          </ion-item>
      </ion-card>
      <ion-card text-center text-uppercase >
          <button color="secondary" ion-button clear (click)="logout()">Sign Out</button>
      </ion-card>
    </div>

</ion-content>
