page-sign-up {
    ion-content{
        background-color: #2d9137 !important;
        
    }
    .label{
        color:white;
    }
    .button{
        margin: 0 auto;
        min-width: 50%;
    }
    h2{
        color:#6dc46f;
    }
}
