<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      
    <ion-title>SettingsPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    

    <ion-list>
      <ion-list-header >CHANGE QUOTES BACKGROUND</ion-list-header>
      <ion-item>
          <ion-label>Alternative Background</ion-label>
          <ion-toggle (ionChange)="onToggle($event)" [checked]="isChecked()">
                  
          </ion-toggle>
        
     </ion-item>

     <ion-list-header >CHANGE APP-WIDE SETTINGS</ion-list-header>
     <ion-item>
        <ion-label>Tabs Placement</ion-label>
        <ion-select [(ngModel)]="tabs">
          <ion-option value="top">Top of this page</ion-option>
          <ion-option value="bottom">Bottom of this page</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
          <ion-label>Page Transition</ion-label>
          <ion-select [(ngModel)]="transition">
            <ion-option value="ios">iOS Style</ion-option>
            <ion-option value="md">Android</ion-option>
          </ion-select>
        </ion-item>
      <ion-item >
          <button ion-button color="buttonconfig" block (click)="applyConfig()">Apply Config</button>
      </ion-item>
      <ion-item >
        <button ion-button color="danger" block (click)="signOut()">Log Out</button>
    </ion-item>
    </ion-list>


</ion-content>
