<!--
  Generated template for the AddCourtPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>
          <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > 
      </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <button
                ion-button
                block
                outline
                type='button'
                icon-left
                (click)="onLocate()">
                <ion-icon name="locate"></ion-icon>
                Locate Me
              </button>
              <!-- type button so it doesnt submit the form -->
            </ion-col>
            <ion-col>
              <button
                ion-button
                block
                outline
                type="button"
                icon-left
                (click)="onOpenMap()">
                <ion-icon name="map"></ion-icon>
                Select on Map
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16" (mapClick)="onSetMarker($event)">
                <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
              </agm-map>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <button ion-button color="secondary" block type="submit" [disabled]="!f.valid">
                    Add this Place
                </button>
              </ion-col>
            </ion-row>
        </ion-grid>
      </form>

</ion-content>
