<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
        <ion-title>
            <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > 
        </ion-title>
        
      </ion-navbar>
    
    </ion-header>


<ion-content>
    <div padding *ngFor="let brum of booroomCollection">
      <ion-card (click)="openChatPage()">
        
        <ion-item>
          <ion-avatar item-start>
            <img src="{{brum.avatar_path}}">
          </ion-avatar>
          <h2>{{brum.booroom_name}}</h2>
          <p>{{brum.tanggal_main}}</p>
          <p>{{brum.start_hour}}<span> - </span>{{brum.end_hour}}</p>
          <p>IDR {{brum.current_price}}</p>
        </ion-item> 
      </ion-card>
    </div>

</ion-content>
