<!--
  Generated template for the BookCourtPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>
          <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > 
      </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form>
    <ion-list>
      <ion-item no-lines>
        <ion-label stacked>Field Name</ion-label>
        <ion-input type="text" value="{{allForm.court_name}}" disabled></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label stacked>Price</ion-label>
        <ion-input type="text" value="{{allForm.wk_price}}" disabled></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label stacked>Date</ion-label>
        <ion-datetime min="2016" max="2020-10-31" displayFormat="DD MMMM YYYY"></ion-datetime>
      </ion-item>
      <ion-row>
        <ion-item col-6 no-lines>
          <ion-label stacked>Start</ion-label>
          <ion-datetime displayFormat="HH:mm"></ion-datetime>
        </ion-item>
        <ion-item col-6 no-lines>
          <ion-label stacked>End</ion-label>
          <ion-datetime displayFormat="HH:mm"></ion-datetime>
        </ion-item>
      </ion-row>
      <ion-row style="margin:10px;">
        <ion-col text-center>
            <button full ion-button (click)="openAlertBook()" >
                Book Now
            </button>
        </ion-col>
        
      </ion-row>
    </ion-list>
  </form>
</ion-content>
