<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>
          <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > 
      </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form margin >
    <ion-label>Change Password</ion-label>
    <ion-input  type="text" placeholder="Old Password"></ion-input>
    <ion-input  type="text" placeholder="New Password"></ion-input>
    <ion-input  type="text" placeholder="Confirm New Password"></ion-input>
   
        
    <button ion-button large type="submit" block [navPush]="registerFieldSecondPage">Next</button>
</form>
</ion-content>
