// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
*{
    vertical-align: center;
  }
  
  ion-input{
    margin: 5px 0px;
    padding: 0px 15px;
    border:1px solid #27ae60;
    max-width: none;
    border-radius: 20px;
    background-color: #ffffff;
  }
  ion-label{
    font-weight: bold;
    vertical-align: center;
  }
  ion-select{
    max-width: 100% !important;
    margin: 5px 2px;
    padding: 0px 15px;
    border:1px solid #27ae60;
    max-width: none;
    border-radius: 20px;
    width:100% !important;
  
  }
  ion-datetime {
    border:1px solid #27ae60;
    max-width: none;
    border-radius: 20px;
    margin: 5px 2px;
    padding: 10px 15px !important;
  }
  col-3,col-4{
    max-width: none;
  }
  ion-checkbox{
    margin:2px;
  }
  .bg-primary{
    background-color:map-get($colors, primary) !important;
  }
  .bg-secondary{
    background-color:map-get($colors, secondary) !important;
  }
  .bg-light{
    background-color:map-get($colors, light) !important;
  }
  
  .image-crop{
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 2px white solid;
    margin-top: 20px;
  }
  p{
    margin:5px 3px 5px 0px;
  }
  .item-right{
    padding: 0px 5px;
  }
  .borderbottom{
    border-bottom:1px solid #bdc3c7;
  }
  .title-image {
    margin-top: 8px;
    height: 27px;
  }
  
  agm-map{
    height: 300px;
  }
  $toolbar-background: map-get($colors, light);
  
  .col{
    padding:0px !important;
  }
  button{
    border-radius: 20px !important;
  }
 
  ion-app.ios [padding], ion-app.ios [padding] .scroll-content{
    padding: 0px !important; 
  }
  