<!-- <ion-menu [content] = "sideMenuContent">
    <ion-header>
        <ion-toolbar text-center>
            <h2>Menu</h2>
        </ion-toolbar>
    </ion-header>
    <ion-content *ngIf="this.$signed==1">
        <ion-list >
            <button ion-item (click)="onload(tabsPage)">
                <ion-icon name="quote" item-left></ion-icon>
                Quotes
            </button>
            <button ion-item (click)="onload(settingsPage)">
                <ion-icon name="settings" item-left></ion-icon>
                Settings
            </button>
            <button ion-item (click)="signOut()">
                <ion-icon name="exit" item-left></ion-icon>
                Logout
            </button>
        </ion-list>
    </ion-content>
    <ion-content *ngIf="this.$signed==0">
        <ion-list >
                <button ion-item (click)="onload(signInPage)">
                    <ion-icon name="log-in" item-left></ion-icon>
                    Sign In
                </button>
                <button ion-item (click)="onload(signUpPage)">
                    <ion-icon name="person" item-left></ion-icon>
                    Sign Up
                </button>
            </ion-list>
    </ion-content>
</ion-menu> -->

<ion-nav [root]="rootPage" #sideMenuContent></ion-nav>
