<!--
  Generated template for the PromoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>
          <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > 
      </ion-title>
  </ion-navbar>
  <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  >
</ion-searchbar>
</ion-header>
<!-- *ngFor="let events of eventCollection; let i = index" -->

<ion-content padding>
    <ion-card (click)="OpenDescription()">
        <img src="../assets/imgs/contoh-lap.jpg">
        <ion-item (click)="OpenDescription()">
          <ion-icon name="football" item-start large></ion-icon>
          <h2>Promo 17an</h2>
          <p>17 Agustus 2017</p>
          <p>150.000</p>
        </ion-item>
        <ion-card-content *ngIf=showDescriptionClicked[0]>
          <h2>JETZ</h2>
          <p>Description : </p>
          <p>Menjelang 17an, jetz menghadirkan promo </p>
          <p>Promo Code: </p>
          <p>24123</p>
        </ion-card-content>
  </ion-card>
  <ion-card (click)="showDescription(0)">
      <img src="../assets/imgs/contoh-lap.jpg">
      
      <ion-item>
          <ion-icon name="football" item-start large></ion-icon>
          <h1>Promo Imlek</h1>
          <p>16 Agustus 2017</p>
          <p>150.000</p>
        </ion-item>
        <ion-card-content *ngIf=showDescriptionClicked[0]>
          <h2>JETZ</h2>
          <p>Description : </p>
          <p>Menjelang 17an, jetz menghadirkan promo </p>
          <p>Promo Code: </p>
          <p>24123</p>
        </ion-card-content>
  </ion-card>
      
        <ion-row>
            <ion-col end>
              <button (click)="addNewEventPage()" ion-button icon-left clear small>
                <ion-icon name="send"></ion-icon>
                <div>Book Now</div>
              </button>
            </ion-col>
          </ion-row>

</ion-content>
