
<ion-header>
  
    <ion-navbar>
      <ion-title>Choose Location</ion-title>
    </ion-navbar>
  
  </ion-header>
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col>
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16" (mapClick)="onSetMarker($event)">
            <agm-marker [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
          </agm-map>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col>
          <button ion-button block (click)="onConfirm()">Confirm</button>
        </ion-col>
        <ion-col>
          <button ion-button block color="danger" (click)="onClose()">Cancel</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  