<!--
  Generated template for the ImagePickerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pick Avatar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="padding:5px;">

    <div>
        <!-- Responsive Layout with Ion Grid-->
        <ion-grid >
          <ion-row>
            <ion-col text-center style="margin:2px;" col-3 col-md-4 *ngFor="let image of [1,2,3,4,5,6,7,8,9,10,11]">
             
              <div class="image-container" [style.background-image]="'url(assets/imgs/avatar' + image + '.png)'" (click)="check(image)">
                
              </div>
              
            </ion-col>
          </ion-row>
        </ion-grid>
     
     
        <!-- More Pinterest floating gallery style -->
     
      </div>

</ion-content>
