<!--
  Generated template for the TermsOfServicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>
          <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > 
      </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
    <p style = "margin: 20px;text-align: justify" float-left>
                 <br> 1. Users must do TopUp BooPay before creating BooRoom / join BooRoom
                 <br> <br> 2. Topup BooPay only consists of Rp.25.000, Rp.50.000, and Rp.100.000 along with a unique number as a tool to simplify transactions
                 <br> <br> 3. The user must upload the transfer receipt to the account listed on the TopUp page to get approval from the admin within 1-3 business days
                 <br> <br> 4. BooPay balance can not be cashed
                 <br> <br> 5. Field rental fees that have been approved will be divided equally by the number of users in the BooRoom
                 <br> <br> 6. Booking that has been approve by owner can not be canceled for any reason
                 <br> <br> 7. If obtained unfavorable report, the user account will be reviewed for a while, if the report proved true, will get penalized
          <br> <br> 8. There are 2 types of field rental prices are regular day and week end
             </p>
</ion-content>
