<!--
  Generated template for the AddEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>
          <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > 
      </ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <form [formGroup]="AddGameForm" (ngSubmit)="onSubmit()">
      <ion-list no-lines>
          <ion-list-header>GENERAL INFO</ion-list-header>      
          <ion-item>
              <ion-label stacked>Game Name</ion-label>
              <ion-input type="text" placeholder="Game Name" formControlName="game_name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Game Type</ion-label>
            <ion-select formControlName="game_type">
              <ion-option value="basketball">Basketball</ion-option>
              <ion-option value="futsal">Futsal</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label stacked>Date</ion-label>
            <ion-datetime min="2016" max="2020-10-31" displayFormat="DD MMMM YYYY" formControlName="game_start"></ion-datetime>
          </ion-item>
          <ion-row>
              <ion-item col-6>
                  <ion-label stacked>Start</ion-label>
                  <ion-datetime displayFormat="HH:mm" formControlName="start_hour"></ion-datetime>
                </ion-item>
                <ion-item col-6>
                  <ion-label stacked>End</ion-label>
                  <ion-datetime displayFormat="HH:mm" formControlName="end_hour"></ion-datetime>
                </ion-item>
            
          </ion-row>
          
          <ion-list-header>LOCATION</ion-list-header>
          <ion-item>
                <ion-select col-6 formControlName="court_province" placeholder="Province" (ionChange)="onChangeProvince($event)">
                    <ion-option value='1'>DKI JAKARTA</ion-option>
                    <ion-option value='5'>BANTEN</ion-option>
                  </ion-select>
                <ion-select col-6 formControlName="court_city" placeholder="City">
                    <ion-option *ngFor="let city of cityCollection" value="{{city.id}}">{{city.name}}</ion-option>
                  </ion-select>
          </ion-item>
          <!-- <ion-item >
            <button ion-button block [navPush]="addCourtPage">Pilih Lapangan</button>
        </ion-item> -->
      
          <ion-list-header>PRIVACY</ion-list-header>
          <ion-item>
            <ion-label stacked>Game Status</ion-label>
            <ion-select (ionChange)="onChange($event)" formControlName="privacy">
              <ion-option value="1" >Private</ion-option>
              <ion-option value="2" >Public</ion-option>
            </ion-select>
          </ion-item>
          <ion-item [hidden]="!value" >
              <ion-label stacked>Room Password</ion-label>
              <ion-input type="text" placeholder="" formControlName="password_privacy"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label stacked>Participants Needed</ion-label>
              <ion-input type="number" placeholder="" formControlName="jumlah_pemain"></ion-input>
          </ion-item>
          <button style="margin:10px; width:95%;"  type="submit" large ion-button block [disabled]="!AddGameForm.valid">Submit</button>
          
      </ion-list>
  </form>
  
</ion-content>
