<!--
  Generated template for the DescriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>
          <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > 
      </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    

</ion-content>
<ion-footer>
    <button ion-button block (click)="closeModal()">Close</button>
</ion-footer>
