<!--
  Generated template for the BuktiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>
          <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > 
      </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <p>{{imageURI}}</p>
    <button ion-button color="secondary" (click)="getImage()">Get Image</button>
  </ion-item>
  <ion-item>
    <h4>Image Preview</h4>
    <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" />
  </ion-item>
  <ion-item>
    <button ion-button (click)="uploadFile()">Upload</button>
  </ion-item> -->
</ion-content>
<ion-footer>
    <button ion-button color="danger" block (click)="closeModal()">Close</button>
</ion-footer>
