<!--
  Generated template for the SearchCourtPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search Field</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content padding>
  <div *ngFor="let courts of courtCollection">
    <ion-card (click)="selectCourt(courts.court_name, courts.court_id,courts.weekend_price,courts.weekday_price)">
        <img src="{{courts.image}}"/>
        <ion-card-content>
          <ion-card-title>
            {{courts.court_name}}
            </ion-card-title>
          <p>
            {{courts.court_address}}
          </p>
          <p>Weekday : IDR {{courts.weekday_price}}</p>
          <p>Weekend : IDR {{courts.weekend_price}}</p>
        </ion-card-content>
      </ion-card>
    </div>
     
</ion-content>
<ion-footer  style=" height:50px; background-color:transparent;display:none" id="footer_detail">
    <ion-list (click)="openBookCourtPage()"  style="border:solid 1px yellowgreen;">
        <ion-item>
          <div id='court_detail'></div>
          <button ion-button outline item-end icon-left>
            <ion-icon name="arrow-forward"></ion-icon>
            Next
          </button>
        </ion-item>
      </ion-list>
    
</ion-footer>
