<!--
  Generated template for the TopUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>
          <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > 
      </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>
      * 0099999999 BCA a/n Janssen Rahardja <br>
      * 90000123123 Mandiri a/n Janssen Rahardja<br>
      * 032501000234567 BRI a/n Janssen Rahardja<br>
      * 0956014045 BNI a/n Janssen Rahardja<br><br><br>
      
      Harap konfirmasinya setelah melakukan transfer dengan format sbb :Bank Tujuan, A/n Rek. agan, Jumlah, Pembelian + wajib menyertakan bukti tranfer diperjelas dengan berita transfercontoh :BCA, Janssen, Rp. 300.000, Saldo Boo-Pay 300rb 
      <br>
      contoh :<br>
      BCA, Janssen, Rp. 300.000, Saldo Boo-Pay 300rb <br>
      
      wajib menyertakan berita tranfer<br>
      "top up boopang"<br>
  </p>
    

</ion-content>
<ion-footer>
    <button ion-button block (click)="openModalBukti()">Upload Bukti</button>
    <button ion-button color="danger" block (click)="closeModal()">Close</button>
</ion-footer>